.header__logo {
  --accent: #2b2597;
  display: flex;
  flex: 1;
}
.header__inner {
  
}
body{
  display: flex;
  justify-content: center;
}
:root {
  --background: #f5f5f5;
  --foreground: #2d43e6;
  --accent: #46b972;
}